/* align */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.clearfix {
    clear: both;
}
