.aspect-ratio {
    aspect-ratio: 16/9;
    background: var(--clight);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.5rem 0;
    img {
        width: 100%;
    }
}
