a {
    text-decoration: underline solid var(--cmed);
    text-underline-position: under;
    color: var(--clink);
}
a:hover,
a:focus,
a:active {
    color: var(--clink);
    opacity: 0.8;
    transition: opacity 500ms ease;
}

ul,
ol,
dl {
    margin: 1rem 0;
    padding: 0 0 0 2em;
}
li:not(:last-child),
dd:not(:last-child) {
    margin-bottom: 0.5rem;
}
dt {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 1.5em 0 0.5rem;
    font: var(--font-h);
    line-height: 1.2em;
    clear: both;
}
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5 {
    margin-top: 0.5em;
    padding-top: 0;
}

h1 {
    font-size: 2.2em;
    font-weight: 300;
}
h2 {
    font-size: 2em;
    font-weight: 300;
    font-variant: small-caps;
    color: var(--cdark);
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
}
h4 {
    font-size: 1.1em;
    font-weight: 700;
}
h5 {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--cfg);
}
h6 {
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    display: inline;
}
h6 + p {
    display: inline;
}

td,
th {
    padding: 0.5em 0.8em;
    text-align: right;
    border-bottom: 0.1rem solid var(--cmed);
    white-space: nowrap;
    font-size: 95%;
}
thead th[colspan] {
    padding: 0.2em 0.8em;
    text-align: center;
}
thead tr:not(:only-child) td {
    padding: 0.2em 0.8em;
}
thead + tbody tr:first-child td {
    border-top: 0.1rem solid var(--cdark);
}
td:first-child,
th:first-child {
    text-align: left;
}
tr:hover {
    background-color: var(--clight);
}
table img {
    display: block;
}

/* figures */
img,
svg {
    max-width: 100%;
    vertical-align: text-top;
}
p > img:not(:only-child) {
    float: right;
    margin: 0 0 0.5em 0.5em;
}
figure > img {
    display: inline-block;
    width: auto;
}
figure > img:only-of-type,
figure > svg:only-of-type {
    max-width: 100%;
    display: block;
    margin: 0 auto 0.4em;
}
figcaption,
caption {
    font: var(--font-h);
    color: var(--cdark);
    width: 100%;
}
figcaption > *:first-child,
caption > *:first-child {
    display: inline-block;
    margin: 0;
}
figure > *:not(:last-child) {
    margin-bottom: 0.4rem;
}

/* code */
pre > code {
    margin: 0;
    position: relative;
    padding: 0.8em;
    border-left: 0.4rem solid var(--cemph);
}
code,
kbd,
samp {
    padding: 0.2em;
    font: var(--font-c);
    background: var(--clight);
    border-radius: var(--radius);
}
kbd {
    border: 1px solid var(--cmed);
}

blockquote {
    border-left: 0.4rem solid var(--cmed);
    padding: 0 0 0.5rem 1.5rem;
    font-style: italic;
}
time {
    color: var(--cdark);
}
mark {
    background: rgba(255, 245, 90, 1);
}
hr {
    border: 0;
    border-top: 0.1rem solid var(--cmed);
}
nav {
    width: 100%;
    background-color: var(--clight);
}
