/* colors */
.text-black {
    color: var(--cdark);
}
.text-white {
    color: var(--cbg);
}

.text-primary {
    color: var(--cemph);
}
.text-secondary {
    color: var(--cdark);
}

.bg-white {
    background-color: var(--cbg);
}
.bg-light {
    background-color: var(--clight);
}
.bg-primary {
    background-color: var(--cemph);
}
.bg-secondary {
    background-color: var(--cmed);
}
