details {
    border: 1px solid var(--cfg);
    &:hover,
    &:focus {
        cursor: pointer;
    }
    summary {
        padding: .5rem .8rem;
        background: var(--cbg);
        color:var(--cfg);
    }
    &[open] {
        summary {
            background: var(--cfg);
            color:var(--clight);
            border-bottom:1px solid var(--cfg);
        }
    }
}


