.divider {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    letter-spacing: 1.9px;
    &:after {
        content: "";
        position: absolute;
        bottom: -0.3em;
        left: 0;
        padding: 0.2em;
        width: 50%;
        z-index: 2;
        border-bottom: 3px solid var(--clight);
    }
    &:before {
        content: "";
        position: absolute;
        bottom: -0.3em;
        left: 0;
        padding: 0.2em;
        width: 10%;
        z-index: 3;
        border-bottom: 3px solid var(--clink);
    }
}
