.boxes {
	display: flex;
	flex-wrap: wrap;
}

@for $i from 1 through 12 {
	.box-#{$i} {
		display: block;
		width: calc(100% / #{$i} - 1em);
		margin: 0.5em;
	}
}

@media (max-width: 40em) {
	@for $i from 1 through 4 {
		.box-#{$i} {
			width: 100%;
		}
	}
}

.row {
	@extend .boxes;
}
.col-12 {
	@extend .box-1;
}
.col-6 {
	@extend .box-2;
}
.col-4 {
	@extend .box-3;
}
.col-3 {
	@extend .box-4;
}
