.iframe,
table {
    margin: 0;
    width: 100%;
}

.iframe,
.video {
    position: relative;
    display: block;
    padding: 0;
    padding-top: 56.25%;
    &:before,
    &:before {
        display: block;
        padding-bottom: 80%;
    }
}
.iframe {
    embed,
    iframe,
    object,
    video {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.iframe video,
.video video {
    width: 100%;
    height: auto;
}
