/* ========== margin =========== */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.m-0 {
    margin: 0 !important;
}
@for $i from 1 through 5 {
    .m-#{$i} {
        margin: #{$i}em;
    }
    .mt-#{$i} {
        margin-top: #{$i}em;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}em;
    }
    .ml-#{$i} {
        margin-left: #{$i}em;
    }
    .mr-#{$i} {
        margin-right: #{$i}em;
    }
    .mx-#{$i} {
        margin-left: #{$i}em;
        margin-right: #{$i}em;
    }
    .my-#{$i} {
        margin-top: #{$i}em;
        margin-bottom: #{$i}em;
    }
}
