/* navbar */
nav + * {
    margin-top: 3rem;
}
body > nav,
header nav {
    user-select: none;
    position: var(--navpos);
    top: 0;
    left: 0;
    right: 0;
    z-index: 41;
    box-shadow: 0vw -50vw 0 50vw var(--clight), 0 calc(-50vw + 1px) 3px 50vw #d1d1d1;
}

[data-theme="dark"] header nav {
    box-shadow: 0vw -50vw 0 50vw var(--clight), 0 calc(-50vw + 1px) 3px 50vw #1f1f1f;
}

nav {
    max-width: var(--width);
    margin: auto;
    ul {
        li {
            a {
                text-decoration: none;
                color: var(--cfg);
                &.active {
                    color: var(--cemph);
                }
            }
            > ul {
                li {
                    > a {
                        text-decoration: none;
                        color: var(--cfg);
                    }
                }
            }
            &:hover > ul {
                display: block !important;
            }
        }
        &:first-child {
            margin: 0;
            padding: 0;
            overflow: visible;
            > li {
                display: inline-block;
                margin: 0;
                padding: 0.8rem 0.6rem;
                > ul {
                    display: none;
                    width: auto;
                    position: absolute;
                    margin: 0.8rem 0;
                    padding: 0.5rem 0.7rem;
                    background-color: var(--cbg);
                    border: var(--border);
                    border-radius: var(--radius);
                    z-index: 42;
                    > li {
                        white-space: nowrap;
                    }
                }
            }
        }
        @media (max-width: 40rem) {
            &:first-child > li:first-child:after {
                content: " \25BE";
            }
            &:first-child > li:not(:first-child):not(.sticky) {
                display: none;
            }
            &:first-child:hover > li:not(:first-child):not(.sticky) {
                display: block;
                float: none !important;
            }
        }
    }
}
