/* ========== padding =========== */
.p-0 {
    padding: 0 !important;
}
@for $i from 1 through 5 {
    .p-#{$i} {
        padding: #{$i}em;
    }
    .pt-#{$i} {
        padding-top: #{$i}em;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}em;
    }
    .pl-#{$i} {
        padding-left: #{$i}em;
    }
    .pr-#{$i} {
        padding-right: #{$i}em;
    }
    .px-#{$i} {
        padding-left: #{$i}em;
        padding-right: #{$i}em;
    }
    .py-#{$i} {
        padding-top: #{$i}em;
        padding-bottom: #{$i}em;
    }
}
