/* reset block elements  */
* {
    box-sizing: border-box;
    border-spacing: 0;
}
header,
footer,
figure,
table,
video,
details,
blockquote,
ul,
ol,
dl,
fieldset,
pre,
pre > code,
caption {
    display: block;
    margin: 0.5rem 0rem 1rem;
    width: 100%;
    overflow: auto hidden;
    text-align: left;
}
video,
summary,
input,
select {
    outline: none;
}
html {
    font-size: var(--rem);
    background: var(--cbg);
}
body {
    position: relative;
    margin: auto;
    font: var(--font-p);
    color: var(--cfg);
    padding: 0;
    overflow-x: hidden;
}
