body {
    background: var(--cbg);
    > header {
        max-width: var(--width);
        margin: auto;
        padding: 3rem 0.6rem 0;
        h1 {
            font-weight: 900;
            text-transform: uppercase;
            color: var(--clink);
        }
        h1,
        p {
            opacity: 1;
            transform: translateX(0px);
            animation: left 800ms 1 ease-in-out;
        }
        nav {
            max-width: var(--width);
            margin: auto;
        }
    }
    > main {
        padding: 1rem 0.6rem 0;
        opacity: 1;
        transform: translateY(0px);
        animation: fadeIn 800ms 100ms 1 ease-in-out;
        max-width: var(--width);
        margin: auto;
        nav {
            margin: 1rem auto;
            text-align: center;
            background: var(--cbg);
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
}
@keyframes left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
}

footer {
    > section {
        display: flex;
        flex-direction: row;
        flex-basis: 86%;
        padding: 1rem;
        max-width: var(--width);
        margin: auto;
        > article {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            flex-basis: 90%;
        }
        > section {
            display: flex;
            article {
                display: flex;
                > a {
                    height: 25px;
                    width: 100%;
                    padding: 0 0 0 0.5rem;
                    > img {
                        width: 1.5rem;
                        -webkit-filter: brightness(0.5);
                        filter: brightness(0.5);
                    }
                }
            }
        }
    }
}
