html[data-theme="dark"] {
    --cfg: #9f9f9f;
    --cbg: #0e0e0e;
    --cdark: #a9a9a9;
    --clight: #1a1a1a;
    --cmed: #181818;
    --clink: #54aeff;
    --cemph: #37cdac;
}

@media (prefers-color-scheme: dark) {
    html[data-theme="light"] {
        --cfg: #333;
        --cbg: #fff;
        --cdark: #777;
        --clight: #fbfbfb;
        --cmed: #e9e9e9;
        --clink: #4aa5e7;
        --cemph: #72e1d2;
    }
}

/* Theme Settings 
––––––––––––––––––––-–––––––––––––– */
:root,
html[data-theme="light"] {
    --rem: 16px;
    --width: 960px;
    --navpos: absolute;
    --font-p: 1em/1.7 -apple-system, system-ui, sans-serif;
    --font-h: 0.9em/1.5 -apple-system, system-ui, sans-serif;
    --font-c: 0.9em/1.4 monospace;
    --border: 1px solid var(--cmed);
    --radius: 2px;
    --ornament: " ------ ";
    --cfg: #333;
    --cbg: #fff;
    --cdark: #777;
    --clight: #fbfbfb;
    --cmed: #e9e9e9;
    --clink: #4aa5e7;
    --cemph: #72e1d2;
}
