.contact-module {
  --color: #333;
  --background: #fdfdfd;
  --border-color: #333;
  --ac-color: #4870f6;
  --ac-border-color: #4870f6;
  --err-color: #ff5555;
  --err-border-color: #ff5555;
  --border-radius: 2px;
  --margin: 5px auto;
  --padding: 8px 10px;
  --box-shadow: 3px 3px 0px #333;
  padding: var(--padding);
  font-size: 14px;
}

[data-theme="dark"] .contact-module {
  --color: #fdfdfd;
  --background: #333;
  --border-color: #222;
  --box-shadow: 3px 3px 0px #111;
}

.contact-module div {
  margin: 3px auto;
}

.contact-module div > label {
  display: block;
  margin: var(--margin);
}

.contact-module div > input[type="text"],
.contact-module div > input[type="email"],
.contact-module div > input[type="number"],
.contact-module div > textarea,
.contact-module div > input[type="tel"] {
  padding: var(--padding);
  background: var(--background);
  color: var(--color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: none;
  transition: all 500ms ease;
}

.contact-module div > textarea:hover,
.contact-module div > textarea:focus,
.contact-module input[type="text"]:hover,
.contact-module input[type="email"]:hover,
.contact-module input[type="number"]:hover,
.contact-module input[type="tel"]:hover,
.contact-module input[type="text"]:focus,
.contact-module input[type="email"]:focus,
.contact-module input[type="number"]:focus,
.contact-module input[type="tel"]:focus {
  background: var(--ac-background);
  border: 1px solid var(--ac-border-color);
  transition: all 500ms ease;
}

.contact-module div > textarea {
  max-width: 100%;
  min-width: 18rem;
}

.contact-module input[type="submit"] {
  cursor: pointer;
  padding: var(--padding);
  background: var(--background);
  color: var(--color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.contact-module input[type="submit"]:hover,
.contact-module input[type="submit"]:focus {
  background: var(--color);
  color: var(--background);
  border: 1px solid var(--border-color);
}

.contact-module .invalid-feedback {
  display: none;
  color: var(--err-color);
}

.contact-module .is-invalid {
  border-color: var(--err-border-color) !important;
}

.contact-module-success {
  padding: 10px;
  color: #4870f6;
  border: 1px solid #4870f6;
}

.contact-module-error {
  padding: 10px;
  color: #ff5555;
  border: 1px solid #ff5555;
}

@media (max-width: 600px) {
  .contact-module div > input[type="text"],
  .contact-module div > input[type="email"],
  .contact-module div > input[type="number"],
  .contact-module div > textarea,
  .contact-module div > input[type="tel"] {
    width:100%;
    padding: 0.8rem;
  }
}
