<!DOCTYPE html>
<html lang="es">

<head>
    <title>Editor CMS Barrio</title>

    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="application-name" content="CMS Barrio" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="<?php echo Url::base();?>/public/assets/css/main.css">
    
    <!-- url base -->
    <script>
        var site_url = "<?php echo Url::base();?>";
        var site_url_current = "<?php echo Url::current();?>";
    </script>
</head>

<body>