.musicEditor {
  margin-bottom: 2rem;
}

.musicEditor textarea {
  display: block;
  width: calc(100% - 2rem) !important;
  height: 12rem !important;
  padding: 1rem;
  border: 1px solid blue;
  background: blue;
  color: white;
}

.musicEditor textarea::selection {
  background: red;
  color: white;
}

.cursor-editor {
  width: 500px;
  margin-top: 12px;
}
.cursor-nav {
  margin-bottom: 12px;
}
.abcjs-cursor {
  background-color: rgba(196, 196, 196, 0.5);
}
.cursor {
  background-color: #ffffc0;
  opacity: 0.5;
  border-left: 1px solid black;
}
