<?php include 'inc/head.inc.html';?>

<header class="navigation">
    <button id="render" class="ml-1 hint--bottom" title="Transformar">Transformar</button>
    <button id="save" title="Guardar">Guardar</button>

    <select id="templates" class="templates mr-2">
        <option value=""> Plantillas </option>
        <?php
            $files = File::scan(ROOT.'/public/demos');
            foreach($files as $file){
                echo '<option value="'.File::name($file).'">'.ucfirst(File::name($file)).'</option>';
            }
        ?>
    </select>

    <span><small>CTRL + ENTER para Ejecutar</small></span>

</header>

<main class="app">
    <div id="code" class="split split-horizontal">
        <div class="editor">
            <div class="editor-control" id="editor-control">
                <a href="#h1" class="hint--right" title="Cabecera 1">H1</a>
                <a href="#h2" class="hint--bottom" title="Cabecera 2">H2</a>
                <a href="#h3" class="hint--bottom" title="Cabecera 3">H3</a>
                <span class="editor-divider"></span>
                <a href="#bold" class="hint--bottom" title="Negrita">B</a>
                <a href="#italic" class="hint--bottom" title="Italica">I</a>
                <a href="#quote" class="hint--bottom" title="Blockquote">BQ</a>
                <a href="#ul-list">
                    <abbr class="hint--bottom" title="Lista">UL</abbr>
                </a>
                <a href="#ol-list">
                    <abbr class="hint--bottom" title="Lista ordenada">OL</abbr>
                </a>

                <a href="#table"  class="hint--bottom" title="Tabla">Tb</a>
                <a href="#lorem"  class="hint--bottom" title="Lorem ipsum">L</a>

                <a href="#code" class="hint--bottom" title="Codigo">&lt;&gt;</a>
                <a href="#hr"  class="hint--bottom" title="linea">----</a>
                <span class="editor-divider"></span>
                <a href="#link"  class="hint--bottom" title="Enlace">link</a>
                <a href="#image"  class="hint--bottom" title="Imagen">Img</a>
                <span class="editor-divider"></span>
                <select name="shortcodes" id="shortcodes">
                    <option value="">Shortcodes</option>
                    <option value="iframe">{Iframe}</option>
                    <option value="youtube">{Youtube}</option>
                    <option value="vimeo">{Vimeo}</option>
                    <option value="video">{Video}</option>
                    <option value="text">{Text}</option>
                    <option value="img">{Img}</option>
                    <option value="row">{Row}</option>
                    <option value="col">{Col}</option>
                    <option value="btn">{Btn}</option>               
                </select>
            </div>
            <textarea name="content" class="editor-area" id="editor-area" rows="10"><?php echo $content;?></textarea>
        </div>
    </div>
    <div id="preview" class="split split-horizontal">
        <div id="root"></div>
    </div>
</main>
<?php include 'inc/footer.inc.html';?>